
@{
    ViewBag.Title = "Index";
}

<div style="text-align:center">
    <h2>@Html.ActionLink("User Page", "UserPage", "Home")</h2>
    &nbsp; &nbsp;
    ||
    <h2>@Html.ActionLink("Admin Page","Admin", "Home")</h2>

</div>